In [6]:
 # Import SparkSession
from pyspark.sql import SparkSession
 
# Create SparkSession 
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("Final Pyspark Project") \
      .getOrCreate()

22/05/07 15:13:16 WARN Utils: Your hostname, AGLS-MLT-588.local resolves to a loopback address: 127.0.0.1; using 192.168.43.184 instead (on interface en0)
22/05/07 15:13:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/ajithmurali/opt/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/05/07 15:13:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [7]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'/Users/ajithmurali/opt/anaconda3/lib/python3.9/site-packages/pyspark'

In [8]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql.functions import explode,split
from pyspark.sql.functions import col,count
from pyspark.sql.functions import sum as _sum
from pyspark.sql.functions import *

In [9]:
from pyspark.sql import SQLContext
from pyspark.sql import *

In [10]:
df=spark.read.json('/Users/ajithmurali/Downloads/yelp_academic_dataset_user.json')

In [11]:
df1=spark.read.json('/Users/ajithmurali/Downloads/yelp_academic_dataset_review.json')

In [12]:
df2=spark.read.json('/Users/ajithmurali/Downloads/yelp_academic_dataset_business.json')

22/05/07 15:14:47 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [13]:
df.printSchema()

root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: string (nullable = true)
 |-- fans: long (nullable = true)
 |-- friends: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)

In [14]:
df1.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

In [28]:
df2.printSchema()

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [19]:
df2=df2.withColumn("categories",explode(split("categories",",")))
df2=df2.withColumn("attributes",col("attributes").cast("string"))
df2=df2.withColumn("hours",col("hours").cast("string"))
df2.coalesce(1).write.format("com.databricks.spark.csv").option("header","true").save("business")
df2.write.option("multiline","true").option("header","true").csv("business.csv")
df2.show()

+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|         city|               hours|is_open|  latitude|   longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...|             Doctors|Santa Barbara|                null|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...| Traditional Chin...|Santa Barbara|                null|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...| Naturopathic/Hol...|Santa Barbara|                null|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...|         Acupuncture|Santa Barbara|                null|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...|    Health & Medical|Santa Barbara|                null|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...|       Nutritionists|Santa Barbara|                null|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|87 Grasso Plaza S...|{null, null, null...|mpf3x-BjTdTEA3yCZ...|    Shipping Centers|       Affton|{8:0-18:30, 0:0-0...|      1| 38.551126|  -90.335695|       The UPS Store|      63123|          15|  3.0|   MO|
|87 Grasso Plaza S...|{null, null, null...|mpf3x-BjTdTEA3yCZ...|      Local Services|       Affton|{8:0-18:30, 0:0-0...|      1| 38.551126|  -90.335695|       The UPS Store|      63123|          15|  3.0|   MO|
|87 Grasso Plaza S...|{null, null, null...|mpf3x-BjTdTEA3yCZ...|            Notaries|       Affton|{8:0-18:30, 0:0-0...|      1| 38.551126|  -90.335695|       The UPS Store|      63123|          15|  3.0|   MO|
|87 Grasso Plaza S...|{null, null, null...|mpf3x-BjTdTEA3yCZ...|     Mailbox Centers|       Affton|{8:0-18:30, 0:0-0...|      1| 38.551126|  -90.335695|       The UPS Store|      63123|          15|  3.0|   MO|
|87 Grasso Plaza S...|{null, null, null...|mpf3x-BjTdTEA3yCZ...|   Printing Services|       Affton|{8:0-18:30, 0:0-0...|      1| 38.551126|  -90.335695|       The UPS Store|      63123|          15|  3.0|   MO|
|5255 E Broadway Blvd|{null, null, null...|tUFrWirKiKi_TAnsV...|   Department Stores|       Tucson|{8:0-23:0, 8:0-22...|      0| 32.223236| -110.880452|              Target|      85711|          22|  3.5|   AZ|
|5255 E Broadway Blvd|{null, null, null...|tUFrWirKiKi_TAnsV...|            Shopping|       Tucson|{8:0-23:0, 8:0-22...|      0| 32.223236| -110.880452|              Target|      85711|          22|  3.5|   AZ|
|5255 E Broadway Blvd|{null, null, null...|tUFrWirKiKi_TAnsV...|             Fashion|       Tucson|{8:0-23:0, 8:0-22...|      0| 32.223236| -110.880452|              Target|      85711|          22|  3.5|   AZ|
|5255 E Broadway Blvd|{null, null, null...|tUFrWirKiKi_TAnsV...|       Home & Garden|       Tucson|{8:0-23:0, 8:0-22...|      0| 32.223236| -110.880452|              Target|      85711|          22|  3.5|   AZ|
|5255 E Broadway Blvd|{null, null, null...|tUFrWirKiKi_TAnsV...|         Electronics|       Tucson|{8:0-23:0, 8:0-22...|      0| 32.223236| -110.880452|              Target|      85711|          22|  3.5|   AZ|
|5255 E Broadway Blvd|{null, null, null...|tUFrWirKiKi_TAnsV...|    Furniture Stores|       Tucson|{8:0-23:0, 8:0-22...|      0| 32.223236| -110.880452|              Target|      85711|          22|  3.5|   AZ|
|         935 Race St|{null, null, u'no...|MTSW4McQd7CbVtyjq...|         Restaurants| Philadelphia|{7:0-21:0, 7:0-20...|      1|39.9555052| -75.1555641|  St Honore Pastries|      19107|          80|  4.0|   PA|
|         935 Race St|{null, null, u'no...|MTSW4McQd7CbVtyjq...|                Food| Philadelphia|{7:0-21:0, 7:0-20...|      1|39.9555052| -75.1555641|  St Honore Pastries|      19107|          80|  4.0|   PA|
|         935 Race St|{null, null, u'no...|MTSW4McQd7CbVtyjq...|          Bubble Tea| Philadelphia|{7:0-21:0, 7:0-20...|      1|39.9555052| -75.1555641|  St Honore Pastries|      19107|          80|  4.0|   PA|
+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [16]:
df.write.option("multiline","true").option("header","true").csv("user.csv")
df.show()

+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+-----+--------------------+----+--------------------+-----+---------+------------+------+--------------------+-------------------+
|average_stars|compliment_cool|compliment_cute|compliment_funny|compliment_hot|compliment_list|compliment_more|compliment_note|compliment_photos|compliment_plain|compliment_profile|compliment_writer| cool|               elite|fans|             friends|funny|     name|review_count|useful|             user_id|      yelping_since|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+-----+--------------------+----+--------------------+-----+---------+------------+------+--------------------+-------------------+
|         3.91|            467|             56|             467|           250|             18|             65|            232|              180|             844|                55|              239| 5994|                2007| 267|NSCy54eWehBJyZdG2...| 1259|   Walker|         585|  7217|qVc8ODYU5SZjKXVBg...|2007-01-25 16:47:26|
|         3.74|           3131|            157|            3131|          1145|            251|            264|           1847|             1946|            7054|               184|             1521|27281|2009,2010,2011,20...|3138|ueRPE0CX75ePGMqOF...|13066|   Daniel|        4333| 43091|j14WgRoU_-2ZE1aw1...|2009-01-25 04:35:42|
|         3.32|            119|             17|             119|            89|              3|             13|             66|               18|              96|                10|               35| 1003|2009,2010,2011,20...|  52|LuO3Bn4f3rlhyHIaN...| 1010|    Steph|         665|  2086|2WnXYQFK0hXEoTxPt...|2008-07-25 10:41:00|
|         4.27|             26|              6|              26|            24|              2|              4|             12|                9|              16|                 1|               10|  299|      2009,2010,2011|  28|enx1vVPnfdNUdPho6...|  330|     Gwen|         224|   512|SZDeASXq7o05mMNLs...|2005-11-29 04:38:33|
|         3.54|              0|              0|               0|             1|              0|              1|              1|                0|               1|                 0|                0|    7|                    |   1|PBK4q9KEEBHhFvSXC...|   15|    Karen|          79|    29|hA5lMy-EnncsH4JoR...|2007-01-05 19:40:59|
|         3.85|           2543|            361|            2543|          1713|            147|            163|           1212|              323|            5696|               191|              815|11211|2006,2007,2008,20...|1357|xBDpTUbai0DXrvxCe...| 9940|     Jane|        1221| 14953|q_QQ5kBBwlCcbL1s4...|2005-03-14 20:26:35|
|         2.75|              0|              0|               0|             0|              0|              0|              0|                0|               1|                 0|                0|    0|                    |   1|HDAQ74AEznP-YsMk1...|    1|      Rob|          12|     6|cxuxXkcihfCbqt5By...|2009-02-24 03:09:06|
|         3.73|             12|              0|              12|             4|              0|              7|              8|                0|               6|                 2|                5|  143|                    |  23|y2GyxJF5VQWohxgw_...|  102|     Mike|         358|   399|E9kcWJdJUHuTKfQur...|2008-12-11 22:11:56|
|         4.04|              5|              3|               5|             2|              0|              0|              3|                1|               4|                 0|                3|   46|                    |   7|tOQDlz36rI__SOsbL...|   40| Rachelle|          40|   109|lO1iq-f75hnPNZkTy...|2008-12-29 22:40:56|
|          3.4|              3|              0|               3|             0|              0|              0|              1|                0|               6|                 0|                0|   23|                    |   4|gy5fWeSv3Gamuq9Ox...|   20|     John|         109|   154|AUi8MPWJ0mLkMfwbu...|2010-01-07 18:32:04|
|          4.0|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|    1|                    |   1|Vq4Pc81l6MWTnc-h4...|    0|    Chris|           4|     1|iYzhPPqnrjJkg1JHZ...|2010-11-03 18:59:20|
|         3.89|             36|              3|              36|            23|              5|              9|             31|                7|              41|                 1|               24|  573| 2009,2010,2011,2012|  31|6tbXpUIU6upoeqWND...|  487|     Ryan|         535|  1130|xoZvMJPDW6Q9pDAXI...|2009-05-27 06:12:10|
|         4.51|              0|              0|               0|             4|              0|              0|              1|                0|               5|                 0|                1|   27|                    |   4|zkK6c9BcDyqreU0fq...|    3| Charlene|          37|    63|vVukUtqoLF5BvH_Vt...|2011-01-29 17:18:59|
|         3.08|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|    0|                    |   0|f0mdrhyxVZ0TsFZD5...|    3|    Kenny|          11|    30|_crIokUeTCHVK_JVO...|2009-10-07 17:23:44|
|         4.29|              2|              0|               2|             1|              0|              0|              1|                0|               0|                 0|                0|   13|                    |   1|piejMEdRkGB7-1aL4...|    3|   Teresa|           7|    18|1McG5Rn_UDkmlkZOr...|2009-05-26 16:11:11|
|         3.75|            221|             22|             221|           212|             34|             17|             67|               17|             158|                17|               45| 1297|2007,2008,2009,20...|  44|j3MBGSLaXMlhLZNeA...| 1138|   Eugene|         682|  1819|SgiBkhXeqIKl1PlFp...|2006-08-25 16:47:25|
|         4.15|              2|              0|               2|             0|              0|              1|              6|                0|               2|                 0|                1|   19|                    |   1|hJiJzw6obCmbGAfwr...|    2| Jennifer|          25|    29|fJZO_skqpnhk1kvom...|2008-07-14 16:01:36|
|         3.84|             66|              0|              66|            15|              0|              1|             12|               12|              33|                 0|                1|   29|                    |   9|EPBLDry-ObheloH-N...|   29|  Ronskee|          37|    56|x7YtLnBW2dUnrrpwa...|2010-05-06 00:40:56|
|         4.11|            808|             29|             808|          1020|             23|             79|            144|              723|             407|                68|              587| 4149|2010,2011,2012,20...| 131|dLts9bY66tXEFqYG0...| 3714|Catherine|         607|  4573|QF1Kuhs8iwLWANNZx...|2009-04-27 20:25:54|
|          3.6|              0|              0|               0|             1|              0|              0|              2|                0|               4|                 0|                1|   44|                    |   4|Ynu2Z2L8Wv2fbTwQ_...|   52|       AJ|         133|   201|VcLRGCG_VbAo8MxOm...|2009-07-11 16:47:38|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+-----+--------------------+----+--------------------+-----+---------+------------+------+--------------------+-------------------+
only showing top 20 rows

In [20]:
df2.write.option("multiline","true").csv("review.csv")
df2.show()

+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|         city|               hours|is_open|  latitude|   longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...|             Doctors|Santa Barbara|                null|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...| Traditional Chin...|Santa Barbara|                null|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...| Naturopathic/Hol...|Santa Barbara|                null|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...|         Acupuncture|Santa Barbara|                null|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...|    Health & Medical|Santa Barbara|                null|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...|       Nutritionists|Santa Barbara|                null|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|87 Grasso Plaza S...|{null, null, null...|mpf3x-BjTdTEA3yCZ...|    Shipping Centers|       Affton|{8:0-18:30, 0:0-0...|      1| 38.551126|  -90.335695|       The UPS Store|      63123|          15|  3.0|   MO|
|87 Grasso Plaza S...|{null, null, null...|mpf3x-BjTdTEA3yCZ...|      Local Services|       Affton|{8:0-18:30, 0:0-0...|      1| 38.551126|  -90.335695|       The UPS Store|      63123|          15|  3.0|   MO|
|87 Grasso Plaza S...|{null, null, null...|mpf3x-BjTdTEA3yCZ...|            Notaries|       Affton|{8:0-18:30, 0:0-0...|      1| 38.551126|  -90.335695|       The UPS Store|      63123|          15|  3.0|   MO|
|87 Grasso Plaza S...|{null, null, null...|mpf3x-BjTdTEA3yCZ...|     Mailbox Centers|       Affton|{8:0-18:30, 0:0-0...|      1| 38.551126|  -90.335695|       The UPS Store|      63123|          15|  3.0|   MO|
|87 Grasso Plaza S...|{null, null, null...|mpf3x-BjTdTEA3yCZ...|   Printing Services|       Affton|{8:0-18:30, 0:0-0...|      1| 38.551126|  -90.335695|       The UPS Store|      63123|          15|  3.0|   MO|
|5255 E Broadway Blvd|{null, null, null...|tUFrWirKiKi_TAnsV...|   Department Stores|       Tucson|{8:0-23:0, 8:0-22...|      0| 32.223236| -110.880452|              Target|      85711|          22|  3.5|   AZ|
|5255 E Broadway Blvd|{null, null, null...|tUFrWirKiKi_TAnsV...|            Shopping|       Tucson|{8:0-23:0, 8:0-22...|      0| 32.223236| -110.880452|              Target|      85711|          22|  3.5|   AZ|
|5255 E Broadway Blvd|{null, null, null...|tUFrWirKiKi_TAnsV...|             Fashion|       Tucson|{8:0-23:0, 8:0-22...|      0| 32.223236| -110.880452|              Target|      85711|          22|  3.5|   AZ|
|5255 E Broadway Blvd|{null, null, null...|tUFrWirKiKi_TAnsV...|       Home & Garden|       Tucson|{8:0-23:0, 8:0-22...|      0| 32.223236| -110.880452|              Target|      85711|          22|  3.5|   AZ|
|5255 E Broadway Blvd|{null, null, null...|tUFrWirKiKi_TAnsV...|         Electronics|       Tucson|{8:0-23:0, 8:0-22...|      0| 32.223236| -110.880452|              Target|      85711|          22|  3.5|   AZ|
|5255 E Broadway Blvd|{null, null, null...|tUFrWirKiKi_TAnsV...|    Furniture Stores|       Tucson|{8:0-23:0, 8:0-22...|      0| 32.223236| -110.880452|              Target|      85711|          22|  3.5|   AZ|
|         935 Race St|{null, null, u'no...|MTSW4McQd7CbVtyjq...|         Restaurants| Philadelphia|{7:0-21:0, 7:0-20...|      1|39.9555052| -75.1555641|  St Honore Pastries|      19107|          80|  4.0|   PA|
|         935 Race St|{null, null, u'no...|MTSW4McQd7CbVtyjq...|                Food| Philadelphia|{7:0-21:0, 7:0-20...|      1|39.9555052| -75.1555641|  St Honore Pastries|      19107|          80|  4.0|   PA|
|         935 Race St|{null, null, u'no...|MTSW4McQd7CbVtyjq...|          Bubble Tea| Philadelphia|{7:0-21:0, 7:0-20...|      1|39.9555052| -75.1555641|  St Honore Pastries|      19107|          80|  4.0|   PA|
+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [21]:
df2.withColumn("categories",explode(split("categories",',')))
df2.groupBy("categories").agg(count("categories")).show()

+--------------------+-----------------+
|          categories|count(categories)|
+--------------------+-----------------+
|    Furniture Stores|             1331|
|    Historical Tours|               26|
|              Korean|              375|
|      Dermatologists|               80|
| Beach Equipment ...|                9|
| Boudoir Photography|               34|
|      Paddleboarding|               20|
|    Hot Air Balloons|                5|
| Mobile Home Dealers|                2|
|               Roman|                1|
|               Tires|             1935|
|  Car Window Tinting|              198|
|    Historical Tours|              110|
|       Live/Raw Food|               73|
| Commercial Truck...|               54|
|             Beaches|               34|
|              Fondue|                7|
|         Boat Repair|               10|
|       Skating Rinks|               27|
|       Data Recovery|               16|
+--------------------+-----------------+
only showing top 20 rows

In [22]:
df2.createOrReplaceTempView("df2")

In [23]:
spark.sql("select name,categories,review_count,stars from df2 where categories='Restaurants' and review_count>=10 order By stars desc,review_count desc limit 5").show()

+--------------------+-----------+------------+-----+
|                name| categories|review_count|stars|
+--------------------+-----------+------------+-----+
|         Cafe Soleil|Restaurants|         468|  5.0|
|       Big Al's Deli|Restaurants|         390|  5.0|
|  Barista Del Barrio|Restaurants|         357|  5.0|
|   Hole In One Donut|Restaurants|         214|  5.0|
|Edessa Restaurant...|Restaurants|         198|  5.0|
+--------------------+-----------+------------+-----+

In [24]:
spark.sql("select business_id,name,review_count,stars from df2 where categories='Home Services' order By review_count desc limit 5").show()

+--------------------+--------------------+------------+-----+
|         business_id|                name|review_count|stars|
+--------------------+--------------------+------------+-----+
|WNjrsnJVPPnv_FtHH...|Frontier Communic...|         397|  1.0|
|7BQObhEOYhw5HUcmp...|    Horizon Services|         338|  2.0|
|_asl6r3sQF9XSo0CZ...|  American Arborists|         206|  5.0|
|aqdoynddLcBTSmI7u...| Miles: The Auto Spa|         191|  2.5|
|mZlz6wq17Vl0wEokd...|Banko Overhead Doors|         190|  4.5|
+--------------------+--------------------+------------+-----+

In [28]:
spark.sql("select city,max(stars) from df2 where categories like 'Nightlife' group By city,stars order By stars desc limit 1").show()

+----------+----------+
|      city|max(stars)|
+----------+----------+
|Brownsburg|       5.0|
+----------+----------+

In [29]:
df.createOrReplaceTempView("df")
df1.createOrReplaceTempView("df1")
df2.createOrReplaceTempView("df2")

In [30]:
df3=spark.sql("select df1.user_id,df2.name,df2.categories,df2.review_count from df1 inner join df2 on df1.business_id=df2.business_id")

In [31]:
df3.show()

+--------------------+--------------------+--------------------+------------+
|             user_id|                name|          categories|review_count|
+--------------------+--------------------+--------------------+------------+
|mh_-eMZ6K5RLWhZyI...|Turning Point of ...|          Sandwiches|         169|
|mh_-eMZ6K5RLWhZyI...|Turning Point of ...|        Coffee & Tea|         169|
|mh_-eMZ6K5RLWhZyI...|Turning Point of ...|      American (New)|         169|
|mh_-eMZ6K5RLWhZyI...|Turning Point of ...| Juice Bars & Smo...|         169|
|mh_-eMZ6K5RLWhZyI...|Turning Point of ...|                Food|         169|
|mh_-eMZ6K5RLWhZyI...|Turning Point of ...|  Breakfast & Brunch|         169|
|mh_-eMZ6K5RLWhZyI...|Turning Point of ...|         Restaurants|         169|
|OyoGAe7OKpv6SyGZT...|Body Cycle Spinni...| Fitness & Instru...|         144|
|OyoGAe7OKpv6SyGZT...|Body Cycle Spinni...|                Gyms|         144|
|OyoGAe7OKpv6SyGZT...|Body Cycle Spinni...|            Trainers|         144|
|OyoGAe7OKpv6SyGZT...|Body Cycle Spinni...|     Cycling Classes|         144|
|OyoGAe7OKpv6SyGZT...|Body Cycle Spinni...|         Active Life|         144|
|8g_iMtfSiwikVnbP2...|   Kettle Restaurant|  Breakfast & Brunch|          47|
|8g_iMtfSiwikVnbP2...|   Kettle Restaurant|         Restaurants|          47|
|_7bHUi9Uuf5__HHc_...|               Zaika|              Indian|         181|
|_7bHUi9Uuf5__HHc_...|               Zaika|         Restaurants|         181|
|_7bHUi9Uuf5__HHc_...|               Zaika|           Pakistani|         181|
|_7bHUi9Uuf5__HHc_...|               Zaika|               Halal|         181|
|bcjbaE6dDog4jkNY9...|                Melt|           Nightlife|          32|
|bcjbaE6dDog4jkNY9...|                Melt| American (Tradit...|          32|
+--------------------+--------------------+--------------------+------------+
only showing top 20 rows

In [32]:
df3.write.option("multiline","true").option("header","true").csv("users.csv")

In [34]:
c1=df2.select(df2.categories)
print(c1.count())
c1.show()

668592
+--------------------+
|          categories|
+--------------------+
|             Doctors|
| Traditional Chin...|
| Naturopathic/Hol...|
|         Acupuncture|
|    Health & Medical|
|       Nutritionists|
|    Shipping Centers|
|      Local Services|
|            Notaries|
|     Mailbox Centers|
|   Printing Services|
|   Department Stores|
|            Shopping|
|             Fashion|
|       Home & Garden|
|         Electronics|
|    Furniture Stores|
|         Restaurants|
|                Food|
|          Bubble Tea|
+--------------------+
only showing top 20 rows

In [35]:
print(df1.count())

6990280

In [36]:
c1=df2.select(df2.categories).where(df2.categories.like("%Food%"))
print(c1.count())
c1.show()

43813
+---------------+
|     categories|
+---------------+
|           Food|
|           Food|
|      Fast Food|
|           Food|
|      Fast Food|
|           Food|
|           Food|
|    Food Trucks|
|           Food|
|           Food|
|           Food|
| Specialty Food|
|           Food|
|           Food|
|           Food|
| Specialty Food|
|           Food|
|           Food|
|           Food|
|           Food|
+---------------+
only showing top 20 rows

In [38]:
l1=["Food","Health & Medical","Shopping","Restaurants","Accessories","Auto Parts & Supplies","Hotels & Travel","Pets","IT Services & Computer Repair","Arts & Entertainment","Beauty & Spas","Automotive","Home Services","Financial Services"]
l2=[]
for i in l1:
    cat_list=df2.select(df2.categories).where(df2.categories.like("%"+i+"%"))
    cat_count=cat_list.count()
    l2.append(cat_count)

In [39]:
print(l1)
print(l2)

['Food', 'Health & Medical', 'Shopping', 'Restaurants', 'Accessories', 'Auto Parts & Supplies', 'Hotels & Travel', 'Pets', 'IT Services & Computer Repair', 'Arts & Entertainment', 'Beauty & Spas', 'Automotive', 'Home Services', 'Financial Services']
[43813, 11890, 24858, 52343, 2107, 1926, 5857, 3758, 1189, 5434, 14292, 10773, 14356, 1487]

In [48]:
df3=SQLContext.createDataFrame(zip(l1,l2),schema=["categories","categories count"])

TypeError: createDataFrame() missing 1 required positional argument: 'data'

In [50]:
Restaurants = df2.where(df2.categories.like("%Restaurants%"))

In [51]:
Restaurants

DataFrame[address: string, attributes: string, business_id: string, categories: string, city: string, hours: string, is_open: bigint, latitude: double, longitude: double, name: string, postal_code: string, review_count: bigint, stars: double, state: string]

In [53]:
rest_df2=Restaurants.filter(Restaurants.review_count>=10)

In [54]:
rest_df2

DataFrame[address: string, attributes: string, business_id: string, categories: string, city: string, hours: string, is_open: bigint, latitude: double, longitude: double, name: string, postal_code: string, review_count: bigint, stars: double, state: string]

In [55]:
rest_df2.select("stars").distinct().show()

+-----+
|stars|
+-----+
|  3.5|
|  4.5|
|  2.5|
|  1.0|
|  4.0|
|  3.0|
|  2.0|
|  1.5|
|  5.0|
+-----+

In [56]:
top5_rest=rest_df2.select("name","review_count","stars").orderBy(col("stars").desc(),col("review_count").desc()).limit(5)

In [57]:
top5_rest

DataFrame[name: string, review_count: bigint, stars: double]